<%= render partial: "user", locals: { user: @user } %>
<div class="box">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
</div>
<section class="action-butons">
    <%= link_to "+ New Post", posts_new_path, class:'btn' %>
</section>
<section>
    <% @user.most_recent_posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
    <% end %>
</section>
<section class="action-butons">
    <%= link_to "See all posts", posts_path(@user), class:'btn' %>
</section>