<%= render partial: "user", locals: { user: @user } %>
<section>
    <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
        <section class="comment-list box">
            <% post.most_recent_comments.each do |comment| %>
                <%= render partial: "comment", locals: { comment: comment } %>
            <% end %>
        </section>
    <% end %>
</section>
<section>
    <%= link_to "Prev", posts_path(@user,page:@page - 1) if @page > 1 %>
    <%= @page %>
    <%= link_to "Next", posts_path(@user,page:@page + 1) if @posts.length == 2 %>
</section>